/* NAVIGATION STUFF GOES HERE  */

#hamburgerBtn {display: none;}
#primaryNav {display: flex;}

nav {
    ul li a {
        border: none;
        padding: 1rem;
    }

    ul { 
        padding: 0; 
        text-align: center;
      }

      li { 
        position: relative; 
      }
      
      a:after {    
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 4px;
        left: 50%;
        position: absolute;
        background: $greenColor;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      a:hover:after { 
        width: 100%; 
        left: 0; 
      }
}

.hero {
    div {
        h3 {
            font-size: 2rem;
            margin: 1.5rem 0 0.3rem 0;
        }

        p {
            padding-top: 0;
            font-size: 1.4rem;
            margin: 0.4rem 0;
        }
    }
}// end hero