$primaryColor: #1d295f; 
$secondaryColor: #7c1d47;
$accentColor: #3990c3;
$greyColor: #ccc;

$lightGreyColor: #E3E3E3;
$blackColor: #1D1D1D;
$greenColor: #1E6523;
$darkGreenColor: #103d14;
$lightPurpleColor: #E8DEF1;
$purpleColor: #8D57B1;
$darkPurpleColor: #572A7B;

$leading: 150%;

$gutter: 10px;